<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Tenebrae Art</title>
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400">
  </head>

  <body>

    <!-- Header -->

    <header class="primary-header container group">

      <h1 class="logo">
        <a href="index.html">tenebrae art</a>
      </h1>

      <h3 class="tagline">Language enthusiast</h3>

      <nav class="nav primary-nav">
        <ul>
          <li><a href="/">Home</a></li><!--
          --><li><a href="/music">Music</a></li><!--
          --><li><a href="/blog">Blog</a></li><!--
          --><li><a href="/about">About</a></li>
        </ul>
      </nav>

    </header>

    <!-- Teasers -->

    <div class="container">

    {{ content }}

    </div><!-- /.container -->


    <!-- Footer -->

    <footer class="primary-footer container group">

      <small>&copy; Ville Hietala</small>

      <nav class="nav">
        <ul>
          <li><a href="/">Home</a></li><!--
          --><li><a href="/music">Music</a></li><!--
          --><li><a href="/blog">Blog</a></li><!--
          --><li><a href="/about">About</a></li>
        </ul>
      </nav>

    </footer>

  </body>
</html>
